body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: 'Montserrat', sans-serif;
}
:root {
    --mouseX: 0;
    --mouseY: 0;
}

.main__content {
    position: absolute;
    width: 100%;
    z-index: 2;
}
section {
    height: 100vh;
    width: 100%;
}
h1 {
    font-size: 80px;
}
h2 {
    font-size: 45px;
}

.text__small {
    line-height: 25px;
    margin: 5px;
}
.grid {
    height: 0vh;
    position: relative;
}
@-webkit-keyframes fadeIn { from { height:0; } to { height:100vh; } }
@-moz-keyframes fadeIn { from { height:0; } to { height:100vh; } }
@keyframes fadeIn { from { height:0; } to { height:100vh; } }

@-webkit-keyframes moveLeft { from { width: 19%; } to {  width:0; } }
@-moz-keyframes moveLeft { from {  width: 19%; } to {  width:0; } }
@keyframes moveLeft { from { width: 19%; } to {  width:0; } }

.grid div {
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;  
    -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
    -moz-animation-fill-mode:forwards;
    animation-fill-mode:forwards;  
    -webkit-animation-duration:1s;
    -moz-animation-duration:1s;
    animation-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    background-color: #ccc;
    z-index: 11;
}

.grid div:first-of-type {
    margin-left: 16%;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.grid div:nth-of-type(2) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    margin-left: 33%;
}
.grid div:nth-of-type(3) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
    margin-left: 50%;
}
.grid div:nth-of-type(4) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    margin-left: 67%;
}
.grid div:nth-of-type(5) {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    margin-left: 86%;
}
.grid-overlay {
    width: 100vw;
    height: 100vh;
    margin-left: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.grid-wrap {
    position: fixed;
    pointer-events: none;
    z-index: 1;
    width: 100%;
}
.grid-overlay div {
    position: absolute;
    height: 100vh;
    z-index: 10;
    background-color: #000;
    -webkit-animation: moveLeft ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:moveLeft ease-in 1;
    animation: moveLeft ease-in 1;  
    -webkit-animation-fill-mode: forwards;  /* this makes sure that after animation is done we remain at the last keyframe value*/
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;  
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    animation-duration: 2.5s;

}
.grid-overlay div:first-of-type {
    left: 0;
    width: calc(16% + 1px);
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;    
}
.grid-overlay div:nth-of-type(2) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; 
    left: 16%;
    width: calc(17% + 1px);
}
.grid-overlay div:nth-of-type(3) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; 
    left: 33%;
    width: calc(17% + 1px);
}
.grid-overlay div:nth-of-type(4) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; 
    width: 17%;
    left: calc(50% + 1px);
}
.grid-overlay div:nth-of-type(5) {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s; 
    width: 19%;
    left: calc(67% + 1px);
}
.grid-overlay div:nth-of-type(6) {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s; 
    width: 14%;
    left: calc(86% + 1px);
}
.grid-2 {
    margin-left: 16%;
}
.grid-3{
    margin-left: 33%;
}
.grid-4{
    margin-left: 50%;
}

/*.cursor__highlight {
    z-index: 3;
    position: fixed;
    left: var(--mouseX);
    top: var(--mouseY);
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0.7);
    filter: saturate(50%);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.7);
    transition: all .3s;
}*/

.skills {
    height: 100vh;
    width: 50%;
    margin: auto;
}
