body {
    margin: 0;
    padding: 0;
}
a {
    font-family: 'Heebo', sans-serif;
    color: #333;
    text-decoration: none;
}
h1 {
    font-family: 'Heebo', sans-serif;
    font-size: 140px;
    height: max-content;
    margin: 10% 15% 0%;
    width: max-content;
}
.works a {
    font-family:'Poppins', sans-serif;
    opacity: 0.6;
    font-size: 13px;
    display: block;
    width: 100px;
    padding: 45px 10px;
    margin: 30px auto;
    background: #fff;
    text-align: center;
    transition: all .2s ease;
}
.works a:hover {
    opacity: 1;
    transition: all .2s ease;
    width: 105px; 
}

.main__content {
    display: flex;
    height: 100vh;
}
.main__content>div {
    width: 50%;
    height: 100%;
}
.right__side {
    filter: brightness(0.8);
    background: url('./assets/abstract-bg.jpg');
    background-size: cover;
}
.left__side {
    display: flex;
    flex-wrap: wrap;
}
.transformed {
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 60px;
    width: max-content;
    transform: rotate(90deg) translateY(0%) translateX(-40%);
}
.name {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    margin: 0 40%;
    transform: translateY(-100%);
    color:rgb(255,82,82);
}
.text__small {
    font-family: 'Poppins', sans-serif;
    color: #afafaf;
    font-size: 16px;
    position: absolute;
    bottom: 2%;
    left: 2%;
}
:root {
    --mouseX: 0;
    --mouseY: 0;
  }
  
.cursor__highlight {
    z-index: 2;
    position: fixed;
    left: var(--mouseX);
    top: var(--mouseY);
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 4px solid #fff;
    filter: saturate(50%);
    box-shadow: 0 0 1rem #fff;
}